
<button ng-click="showPopup = true">{{labelButton}}</button>
<div ng-if="showPopup">
	<div class="popup-overlay" ng-click="$parent.showPopup = false" role="button" tabindex="0"></div>
	<div  class="merge-popup" >
		<div class="float">
			<div class="margin-15" ng-show="dataid || tableid ">
				<div><a ng-show="dataLength>0 && currentIndex>0" ng-click="previous()"> < </a><span class="entity-name"> {{current[5]}} </span><a ng-show="dataLength>0 && currentIndex<dataLength-1"  ng-click="next()"> > </a></div>
				<div ng-show="dataLength>0">{{currentIndex+1}} of {{dataLength}}</div>
			</div>
			<div >
				<div class="email" ng-show="sendEmail">

					<div>
					<h4 class="margin-15">Email information:</h4>
						<div id="form"></div>
					</div>

					<div ng-show="!sendhtml">
					<span>Email Body</span>
						<textarea ng-change="update()" ng-model="mailMerge.email.text"  rows="5" cols="50">						
						</textarea>
					</div>
				</div>

				<div ng-show="dataid ">
						<label class="col-sm-2 control-label">Paste CSV/TSV value here:</label>
						<textarea ng-change="parseCSV()" ng-model="$parent.csvData" id="{{dataid}}" rows="5" cols="50">
						</textarea>
				</div>

				<div class="margin-15" ng-show="mailMerge.doc.outputpdf">
					<div>
						<input bs-switch ng-model="$parent.attachpdf" type="checkbox"  switch-size="mini" ng-true-value="true" ng-false-value="false"   switch-on-text="Yes" switch-off-text="No">&nbsp&nbsp<span>
						Attach below document to the message?</span>
					</div>

				
					<div id="doc_preview"></div>
					<div id="doc-temp" ng-hide="true"></div>
				</div>

				<div class="table-responsive margin-15" ng-show="tableid ">
					<table class="table" id="{{tableid}}">
					    <thead>
					        <tr>
					            <th>To</th>
					            <th>CC</th>
					            <th>BCC</th>
					            <th>Subject</th>
					            <th>code</th>
					            <th>name</th>
					            <th>date</th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr>
					            <td>wengjiahong@gmail.com</td>
					            <td>aa</td>
					            <td>tommy</td>
					            <td>subject1</td>
					            <td>cus1</td>
					            <td>mike</td>
					            <td>2016-07-15</td>
					        </tr>
					        <tr>
					            <td>jack@gmail.com</td>
					            <td>ivy</td>
					            <td></td>
					            <td>subject1</td>
					            <td>cus2</td>
					            <td>jack</td>
					            <td>2016-07-15</td>
					        </tr>
					        <tr>
					            <td>ivy@gmail.com</td>
					            <td>cc</td>
					            <td></td>
					            <td>subject1</td>
					            <td>cus3</td>
					            <td>ivy</td>
					            <td>2016-07-15</td>
					        </tr>
					        <tr>
					            <td>tommy@gmail.com</td>
					            <td>dd</td>
					            <td>ivy</td>
					            <td>subject1</td>
					            <td>cus4</td>
					            <td>tommy</td>
					            <td>2016-07-16</td>
					        </tr>
					        <tr>
					            <td>jack@gmail.com</td>
					            <td>ivy</td>
					            <td></td>
					            <td>subject1</td>
					            <td>cus2</td>
					            <td>jack</td>
					            <td>2016-07-15</td>
					        </tr>
					        <tr>
					            <td>ivy@gmail.com</td>
					            <td>cc</td>
					            <td></td>
					            <td>subject1</td>
					            <td>cus3</td>
					            <td>ivy</td>
					            <td>2016-07-15</td>
					        </tr>
					        <tr>
					            <td>tommy@gmail.com</td>
					            <td>dd</td>
					            <td>ivy</td>
					            <td>subject1</td>
					            <td>cus4</td>
					            <td>tommy</td>
					            <td>2016-07-16</td>
					        </tr>
					        <tr>
					            <td>jack@gmail.com</td>
					            <td>ivy</td>
					            <td></td>
					            <td>subject1</td>
					            <td>cus2</td>
					            <td>jack</td>
					            <td>2016-07-15</td>
					        </tr>
					        <tr>
					            <td>ivy@gmail.com</td>
					            <td>cc</td>
					            <td></td>
					            <td>subject1</td>
					            <td>cus3</td>
					            <td>ivy</td>
					            <td>2016-07-15</td>
					        </tr>
					        <tr>
					            <td>tommy@gmail.com</td>
					            <td>dd</td>
					            <td>ivy</td>
					            <td>subject1</td>
					            <td>cus4</td>
					            <td>tommy</td>
					            <td>2016-07-16</td>
					        </tr>
					        <tr>
					            <td>jack@gmail.com</td>
					            <td>ivy</td>
					            <td></td>
					            <td>subject1</td>
					            <td>cus2</td>
					            <td>jack</td>
					            <td>2016-07-15</td>
					        </tr>
					        <tr>
					            <td>ivy@gmail.com</td>
					            <td>cc</td>
					            <td></td>
					            <td>subject1</td>
					            <td>cus3</td>
					            <td>ivy</td>
					            <td>2016-07-15</td>
					        </tr>
					        <tr>
					            <td>tommy@gmail.com</td>
					            <td>dd</td>
					            <td>ivy</td>
					            <td>subject1</td>
					            <td>cus4</td>
					            <td>tommy</td>
					            <td>2016-07-16</td>
					        </tr>
					        <tr>
					            <td>tommy@gmail.com</td>
					            <td>dd</td>
					            <td>ivy</td>
					            <td>subject1</td>
					            <td>cus4</td>
					            <td>tommy</td>
					            <td>2016-07-16</td>
					        </tr>
					        <tr>
					            <td>jack@gmail.com</td>
					            <td>ivy</td>
					            <td></td>
					            <td>subject1</td>
					            <td>cus2</td>
					            <td>jack</td>
					            <td>2016-07-15</td>
					        </tr>
					        <tr>
					            <td>ivy@gmail.com</td>
					            <td>cc</td>
					            <td></td>
					            <td>subject1</td>
					            <td>cus3</td>
					            <td>ivy</td>
					            <td>2016-07-15</td>
					        </tr>
					        <tr>
					            <td>tommy@gmail.com</td>
					            <td>dd</td>
					            <td>ivy</td>
					            <td>subject1</td>
					            <td>cus4</td>
					            <td>tommy</td>
					            <td>2016-07-16</td>
					        </tr>

					        <tr>
					            <td>tommy@gmail.com</td>
					            <td>dd</td>
					            <td>ivy</td>
					            <td>subject1</td>
					            <td>cus4</td>
					            <td>tommy</td>
					            <td>2016-07-16</td>
					        </tr>
					        <tr>
					            <td>jack@gmail.com</td>
					            <td>ivy</td>
					            <td></td>
					            <td>subject1</td>
					            <td>cus2</td>
					            <td>jack</td>
					            <td>2016-07-15</td>
					        </tr>
					        <tr>
					            <td>ivy@gmail.com</td>
					            <td>cc</td>
					            <td></td>
					            <td>subject1</td>
					            <td>cus3</td>
					            <td>ivy</td>
					            <td>2016-07-15</td>
					        </tr>
					        <tr>
					            <td>tommy@gmail.com</td>
					            <td>dd</td>
					            <td>ivy</td>
					            <td>subject1</td>
					            <td>cus4</td>
					            <td>tommy</td>
					            <td>2016-07-16</td>
					        </tr>
					        <tr>
					            <td>tommy@gmail.com</td>
					            <td>dd</td>
					            <td>ivy</td>
					            <td>subject1</td>
					            <td>cus4</td>
					            <td>tommy</td>
					            <td>2016-07-16</td>
					        </tr>
					        <tr>
					            <td>jack@gmail.com</td>
					            <td>ivy</td>
					            <td></td>
					            <td>subject1</td>
					            <td>cus2</td>
					            <td>jack</td>
					            <td>2016-07-15</td>
					        </tr>
					        <tr>
					            <td>ivy@gmail.com</td>
					            <td>cc</td>
					            <td></td>
					            <td>subject1</td>
					            <td>cus3</td>
					            <td>ivy</td>
					            <td>2016-07-15</td>
					        </tr>
					        <tr>
					            <td>tommy@gmail.com</td>
					            <td>dd</td>
					            <td>ivy</td>
					            <td>subject1</td>
					            <td>cus4</td>
					            <td>tommy</td>
					            <td>2016-07-16</td>
					        </tr>
					        <tr>
					            <td>tommy@gmail.com</td>
					            <td>dd</td>
					            <td>ivy</td>
					            <td>subject1</td>
					            <td>cus4</td>
					            <td>tommy</td>
					            <td>2016-07-16</td>
					        </tr>
					        <tr>
					            <td>jack@gmail.com</td>
					            <td>ivy</td>
					            <td></td>
					            <td>subject1</td>
					            <td>cus2</td>
					            <td>jack</td>
					            <td>2016-07-15</td>
					        </tr>
					        <tr>
					            <td>ivy@gmail.com</td>
					            <td>cc</td>
					            <td></td>
					            <td>subject1</td>
					            <td>cus3</td>
					            <td>ivy</td>
					            <td>2016-07-15</td>
					        </tr>
					        <tr>
					            <td>tommy@gmail.com</td>
					            <td>dd</td>
					            <td>ivy</td>
					            <td>subject1</td>
					            <td>cus4</td>
					            <td>tommy</td>
					            <td>2016-07-16</td>
					        </tr>
					        <tr>
					            <td>test@gmail.com</td>
					            <td>dd</td>
					            <td>ivy</td>
					            <td>subject1</td>
					            <td>cus4</td>
					            <td>tommy</td>
					            <td>2016-07-16</td>
					        </tr>


					        
					    </tbody>
			</table>

				</div>

				<button type="button" class="btn btn-primary btn-lg margin-15" ng-click="sendMessage()">{{labelButtonPopup}}</button>
				<span ng-show="sending"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Sending now...</span>
				<span class ="success" ng-show="sending==false"> Great! Messages Sent</span>
				<span class= "error" ng-show="invalidTo">Please enter recipient email address</span>

			</div>
		</div>

		<div ng-show="sendEmail">
			<h4 class="margin-15">{{previewText}}</h4>
			<div class='form-group'>
				<label class="width-8 control-label">To</label> <span>{{merge.email.to}}</span>
			 </div>
			 <div class='form-group'>
			 <label class="width-8 control-label">CC</label> <span>{{merge.email.cc}}</span>
			 </div>
			 <div  class='form-group'> 
			 		<label class="width-8 control-label">BCC</label><span>{{merge.email.bcc}}</span>
			 </div>
			 <div  class='form-group'>
			 <label class="width-8 control-label">Subject</label> <span>{{merge.email.subject}}</span>
			 </div>
			 <div ng-show="sendhtml">
			 	<div ng-hide="edit" ng-click="edit = true " style="
			 	color:rgb(66,133,244)">
					View Email source
			 	</div>

			 	<div ng-show="edit" ng-click="edit = false;refresh()" style="
			 	color:rgb(66,133,244)">
			 		 View Email
			 	</div>

			 	<textarea ng-change="refresh()" ng-model="mailMerge.email.html" ng-show="edit" id="data_row" rows="5" cols="50">						
				</textarea>

				<div id="html_preview" class="image-scroll"></div>
			 	<div id="email-temp" ng-hide="true"></div>
			 </div>
			 
			 <div ng-show="!sendhtml">
				<div id="text_preview"></div>
			 </div>
		</div>
		<div class="clear"></div>
		<div class="margin-15 scroll-y" ng-show="dataid || tableid">
			<label lass="table-responsive">History of communications</label>
			<table class="table">
				<tr ng-repeat="history in mergeHistory | orderBy:'-email_date'">
					<td><button>{{history.email_date | date:'d MMMM yyyy' }}</button></td>
					<td>{{history.template}}</td>
					<td>{{history.email_text}}</td>
				</tr>
			</table>
		</div>
		 
	</div>
</div>