<style>


/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  padding-top: 50px;
  background-color: #f5f5f5;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 10px;
  }
}


/* Sidebar navigation */
.nav-sidebar {
  background-color: #f5f5f5;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

.nav-sidebar > .active > a:hover {
  background-color: black !important;
  
}

/*
 * Main content
 */

.main {
  padding: 20px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}



</style>
<nav ng-cloak class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="adminNavController">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Demo</a>

          <li ng-if='loggedIn' class="navbar-brand dropdown" style='list-style: none;'>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
                <span style='color:#ffffff'>{{nav.menuName()}}</span><span class="caret" style='color:#ffffff'></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a ng-click="nav.changeTheme('default')" style="cursor: pointer;">Default</a></li>
                <li class="divider"></li>
                <li><a ng-click="nav.changeTheme('cerulean')" ng-model="theme" value="cerulean" id="cerulean" style="cursor: pointer;">Cerulean</a></li>
                <li><a ng-click="nav.changeTheme('cosmo')" ng-model="theme" id="cosmo" value="cosmo"  style="cursor: pointer;">Cosmo</a></li>
                <li><a ng-click="nav.changeTheme('cyborg')" ng-model="theme" id="cyborg" value="cyborg"  style="cursor: pointer;">Cyborg</a></li>
                <li><a ng-click="nav.changeTheme('darkly')"  ng-model="theme" id="darkly" value="darkly"  style="cursor: pointer;">Darkly</a></li>
                <li><a ng-click="nav.changeTheme('flatly')" ng-model="theme" id="flatly" value="flatly"  style="cursor: pointer;">Flatly</a></li>
                <li><a ng-click="nav.changeTheme('journal')"  ng-model="theme" id="journal" value="journal"  style="cursor: pointer;">Journal</a></li>
                <li><a ng-click="nav.changeTheme('lumen')"  ng-model="theme" id="lumen" value="lumen"  style="cursor: pointer;">Lumen</a></li>
                <li><a ng-click="nav.changeTheme('paper')" ng-model="theme" id="paper" value="paper"  style="cursor: pointer;">Paper</a></li>
                <li><a ng-click="nav.changeTheme('readable')"  ng-model="theme" id="readable" value="readable"  style="cursor: pointer;">Readable</a></li>
                <li><a ng-click="nav.changeTheme('sandstone')" ng-model="theme" id="sandstone" value="sandstone"  style="cursor: pointer;">Sandstone</a></li>
                <li><a ng-click="nav.changeTheme('simplex')" ng-model="theme" id="simplex" value="simplex"  style="cursor: pointer;">Simplex</a></li>
                <li><a ng-click="nav.changeTheme('slate')" ng-model="theme" id="slate" value="slate"  style="cursor: pointer;">Slate</a></li>
                <li><a ng-click="nav.changeTheme('spacelab')" ng-model="theme" id="spacelab" value="spacelab"  style="cursor: pointer;">Spacelab</a></li>
                <li><a ng-click="nav.changeTheme('superhero')"  ng-model="theme" id="superhero" value="superhero"  style="cursor: pointer;">Superhero</a></li>
                <li><a ng-click="nav.changeTheme('united')"  ng-model="theme" id="united" value="united" >United</a></li>
                <li><a ng-click="nav.changeTheme('yeti')"  ng-model="theme" id="yeti" value="yeti"  style="cursor: pointer;">Yeti</a></li>
              </ul>
            </li>

         

        </div>


       <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
     

      <ul class="nav navbar-nav navbar-right">

        <li ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/login')}"><a href="/login">Login</a></li>
        
        <li ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/settings')}"><a href="/settings">Profile</a></li>
        <li ng-show="nav.isLoggedIn()"><a href="/logout">Logout</a></li>
      </ul>
      <form class="navbar-form navbar-right" ng-if='loggedIn'>
            <input type="text" class="form-control" placeholder="Search...">
          </form>
    </div>
      </div>
</nav>

<div class="container-fluid" ng-if='loggedIn'>
      
      <div class="row row-offcanvas row-offcanvas-left">
        
         <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
             <ul class="nav nav-sidebar">
<li ng-repeat="item in nav.menu.items"  ng-class="{active: nav.isActive('/'+item.state)}">
            <a    ng-href="{{item.state}}">{{item.title}}</a>
        </li>
        
      </ul>
            </div>
  </div>
</div><!--/.container-->